:root {
    --bg-sidebar: rgb(16, 20, 49);
    --border-sidebar: rgb(0, 165, 244);
    --menu-shadow: rgba(150, 200, 200, 0.33);
    --menu-button-bg: rgb(200, 205, 205);
    --menu-button-shadow: rgba(180, 180, 180, 0.34);
    --text-color: rgba(200, 220, 200, 0.8);
}