body, html {
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

.sidebar {
    position: fixed;
    top: 50px;
    max-width: 300px;
    min-width: 250px;
    width: 300px;
    height: calc(100% - 50px);
    background-color: var(--bg-sidebar);
    border: 1px solid var(--border-sidebar);
    transition: all 0.2s ease-in-out;
}

.sidebar[aria-label=shown] {
    left: 0;
}

.sidebar[aria-label=hidden] {
    left: -240px;
}

.sidebar .menu {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.sidebar .menu:hover {
    box-shadow: 1.2px 1.2px var(--menu-shadow) inset;
}

.sidebar .menu div[class^='menu-button']  {
    transition: all 0.3s linear;
}

.sidebar .menu[aria-label=shown] div[class^='menu-button'] {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 5px;
    background-color: var(--menu-button-bg);
    border-radius: 5px;
    transition: all 0.2s linear;
}

.sidebar .menu[aria-label=shown] div.menu-button-top {
    top: 7.5px;
}

.sidebar .menu[aria-label=shown] div.menu-button-mid {
    top: 17.5px;
}

.sidebar .menu[aria-label=shown] div.menu-button-bottom {
    top: 27.5px;
}

.sidebar .menu[aria-label=hidden] div[class^='menu-button'] {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 5px;
    background-color: var(--menu-button-bg);
    border-radius: 5px;
    transition: all 0.2s linear;
}

.sidebar .menu[aria-label=hidden] div.menu-button-top {
    transform: rotateZ(-45deg);
    width: 60%;
    top: 9.5px;
    left: 0;
}

.sidebar .menu[aria-label=hidden] div.menu-button-mid {
    top: 17.5px;
}

.sidebar .menu[aria-label=hidden] div.menu-button-bottom {
    transform: rotateZ(45deg);
    width: 60%;
    top: 25.5px;
    left: 0;
}

.sidebar .menu:hover div[class^='menu-button'] {
    box-shadow: 3px 3px var(--menu-button-shadow);
}

.sidebar .mode {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 200px;
    margin-top: 5px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar .mode:hover {
    box-shadow: 3px 3px var(--menu-shadow) inset;
}

.sidebar i {
    margin: auto;
    font-size: 30px;
}